<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get All Contacts</title>
</head>
<body>
  <h1><i class="fa-solid fa-address-card"></i>Contacts Page</h1>
  <h2><%= heading %></h2>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <strong>Name: </strong><%=user.name %>
      </li>
      <li>
        <strong>E-mail: </strong><%=user.email %>
      </li>
      <li>
        <strong>Phone: </strong><%=user.phone %>
      </li>
    <% }); %>
  </ul>
</body>
</html>